In [1]:
import pandas as pd

In [3]:
raw_csv_data = pd.read_csv("../data/Absenteeism_data.csv")

In [4]:
type(raw_csv_data)

pandas.core.frame.DataFrame

In [5]:
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [6]:
df = raw_csv_data.copy()

In [7]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [ ]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [ ]:
display(df)

In [ ]:
df.info()

## Drop 'ID':

In [ ]:
df.drop(['ID'], axis = 1)

In [ ]:
df = df.drop(['ID'], axis = 1)

In [ ]:
df

In [ ]:
raw_csv_data

## 'Reason for Absence':

In [ ]:
df['Reason for Absence'].min()

In [ ]:
df['Reason for Absence'].max()

In [ ]:
pd.unique(df['Reason for Absence'])

In [ ]:
df['Reason for Absence'].unique()

In [ ]:
len(df['Reason for Absence'].unique())

In [ ]:
sorted(df['Reason for Absence'].unique())

### .get_dummies()

In [ ]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [ ]:
reason_columns

In [ ]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns

In [ ]:
reason_columns['check'].sum(axis=0)

In [ ]:
reason_columns['check'].unique()

In [ ]:
reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns

In [ ]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [ ]:
reason_columns

## Group the Reasons for Absence:

In [ ]:
df.columns.values

In [ ]:
reason_columns.columns.values

In [ ]:
df = df.drop(['Reason for Absence'], axis = 1)

In [ ]:
df

In [ ]:
reason_columns.loc[:, 1:14].max(axis=1)

In [ ]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [ ]:
reason_type_2

## Concatenate Column Values

In [ ]:
df

In [ ]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
df

In [ ]:
df.columns.values

In [ ]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [ ]:
df.columns = column_names

In [ ]:
df.head()

## Reorder Columns

In [ ]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 
                          'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [ ]:
df = df[column_names_reordered]

In [ ]:
df.head()

## Create a Checkpoint

In [ ]:
df_reason_mod = df.copy()

In [ ]:
df_reason_mod

## 'Date':

In [ ]:
type(df_reason_mod['Date'][0])

In [ ]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])

In [ ]:
df_reason_mod['Date']

In [ ]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [ ]:
type(df_reason_mod['Date'])

In [ ]:
df_reason_mod.info()

## Extract the Month Value:

In [ ]:
df_reason_mod['Date'][0]

In [ ]:
df_reason_mod['Date'][0].month

In [ ]:
list_months = []
list_months

In [ ]:
df_reason_mod.shape

In [ ]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [ ]:
list_months

In [ ]:
len(list_months)

In [ ]:
df_reason_mod['Month Value'] = list_months

In [ ]:
df_reason_mod.head(20)

## Extract the Day of the Week:

In [ ]:
df_reason_mod['Date'][699].weekday()

In [ ]:
df_reason_mod['Date'][699]

In [ ]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [ ]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [ ]:
df_reason_mod.head()

## Exercise:

In [ ]:
df_reason_mod = df_reason_mod.drop(['Date'], axis = 1)
df_reason_mod.head()

In [ ]:
df_reason_mod.columns.values

In [ ]:
column_names_upd = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value', 'Day of the Week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']

In [ ]:
df_reason_mod = df_reason_mod[column_names_upd]
df_reason_mod.head()

In [ ]:
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod

In [ ]:
type(df_reason_date_mod['Transportation Expense'][0])

In [ ]:
type(df_reason_date_mod['Distance to Work'][0])

In [ ]:
type(df_reason_date_mod['Age'][0])

In [ ]:
type(df_reason_date_mod['Daily Work Load Average'][0])

In [ ]:
type(df_reason_date_mod['Body Mass Index'][0])

## 'Education', 'Children', 'Pets'

In [ ]:
display(df_reason_date_mod)

In [ ]:
df_reason_date_mod['Education'].unique()

In [ ]:
df_reason_date_mod['Education'].value_counts()

In [ ]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [ ]:
df_reason_date_mod['Education'].unique()

In [ ]:
df_reason_date_mod['Education'].value_counts()

## Final Checkpoint

In [ ]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed.head(10)